[user]
    email = hristo.g@pharvision.ai
    name = Hristo Goumnerov

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    dark = true
    navigate = true
    side-by-side = false
    line-numbers = true

[pull]
    rebase = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
    tool = difft
    external = difft

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[alias]
    bl = blame -w --
    br = branch
    cm = commit
    lg = log --graph --oneline --abbrev-commit --decorate --pretty=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
    log = log --follow
    logd = "-c diff.external=difft log -p --ext-diff"
    rh = reset --hard
    st = status
    sw = switch
