cheat/.config/cheat/cheatsheets/community
i3/.i3blocks/blocklets/i3blocks-contrib
lazygit/.config/lazygit/state.yml
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/plugin
nvim/.config/nvim/plugin/packer_compiled.lua
vim/.vim/vim-plugged
zsh/.config/cache
zsh/.config/local
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zhistory
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/plugins
