lazygit/.config/lazygit/state.yml
nvim/.config/nvim/lazy-lock.json

# Plugin directories
nvim/.config/nvim/plugin
nvim/.config/nvim/plugin/packer_compiled.lua
/television/.config/television/cable
zsh/.config/zsh/plugins
yazi/.config/yazi/plugins
yazi/.config/yazi/package.toml

# ZSH
zsh/.config/cache
zsh/.config/local
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zhistory
zsh/.config/zsh/.zsh_history

# Extensions
*.tar.gz

# keys
lla/.config/lla/jump.json

# Yazi
/yazi/.config/yazi/bookmark
