cheat/.config/cheat/cheatsheets/community
lazygit/.config/lazygit/state.yml
nvim/.config/nvim/plugin
nvim/.config/nvim/plugin/packer_compiled.lua
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zhistory
zsh/.config/zsh/plugins
zsh/.config/cache
zsh/.config/local
i3/.i3blocks/blocklets/i3blocks-contrib
vim/.vim/vim-plugged
nvim/.config/nvim/lazy-lock.json
