layout {
    tab name="local" {
        pane size=1 borderless=true{
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
            plugin location="zellij:strider"
            plugin location="zellij:compact-bar"
        }
    }
    tab name="ubuntu5" {
        pane size=1 borderless=true{
            plugin location="zellij:tab-bar"
        }
        pane command="ssh" {
            args "ubuntu5"
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
            plugin location="zellij:strider"
            plugin location="zellij:compact-bar"
        }
    }
}
