layout {
    tab name="188" {
        pane size=1 borderless=true{
            plugin location="zellij:tab-bar"
        }
        pane split_direction="horizontal" {
            pane name="top" command="ssh"{
                args "dev" "top"
            }
            pane name="ctop" command="ssh"{
                args "dev" "ctop"
            }
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
            plugin location="zellij:strider"
            plugin location="zellij:compact-bar"
        }
    }
    tab name="bg" {
        pane size=1 borderless=true{
            plugin location="zellij:tab-bar"
        }
        pane split_direction="horizontal" {
            pane name="top" command="ssh"{
                args "bg" "top"
            }
            pane name="ctop" command="ssh"{
                args "bg" "ctop"
            }
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
            plugin location="zellij:strider"
            plugin location="zellij:compact-bar"
        }
    }
}
